<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4" style="width: 350px;">
        <!-- Step 1: Login -->
        <form *ngIf="step === 'login'" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
            <h2 class="text-center mb-2">Welcome back!</h2>
            <p class="text-center text-muted mb-4">Login to continue</p>
            <!-- Email -->
            <div class="mb-3">
                <label class="form-label">Email Address:</label>
                <input type="email" class="form-control" placeholder="Enter your email" formControlName="email"
                    required>
            </div>

            <!-- Password with eye icon -->
            <div class="mb-3 position-relative">
                <label class="form-label">Password: </label>
                <input [type]="hidePassword ? 'password' : 'text'" class="form-control"
                    placeholder="Enter your password" formControlName="password" required>
                <i class="fa-solid" [class.fa-eye]="hidePassword" [class.fa-eye-slash]="!hidePassword"
                    (click)="togglePassword()" style="right: 10px; top: 38px; cursor: pointer; position: absolute;">
                </i>
            </div>

            <!-- Button -->
            <app-button-loader text="Continue" [loading]="isLoading" [fullWidth]="true" type="submit">
            </app-button-loader>
        </form>

        <!-- Step 2: Verification -->
        <form *ngIf="step === 'verification'" [formGroup]="verificationForm" (ngSubmit)="submitVerification()">
            <button type="button" class="back-btn" (click)="backToLogin()">
                ←
            </button>
            <h2 class="text-center mb-2" style="font-size: 1.25rem;">Verification Required</h2>
            <p class="text-center text-muted mb-4">{{ verificationMessage }}</p>
            <p class="text-center text-muted mb-4" style="font-size: 0.875rem;">
                This code expires in the next <strong>10 minutes</strong>.
            </p>
            <div class="mb-3">
                <label class="form-label">Verification Code</label>
                <input type="text" class="form-control" formControlName="code" placeholder="Enter code">
            </div>

            <app-button-loader text="Verify" type="submit" [loading]="isVerifying" [fullWidth]="true">
            </app-button-loader>


            <app-button-loader text="Resend Code" type="button" [loading]="isResending" [fullWidth]="false"
                color="transparent" textColor="#061023" (click)="resendCode()" class="resend-btn">
            </app-button-loader>
        </form>
    </div>
</div>