.shimmer {
    background: #e0e0e0;
    background-image: linear-gradient(to right,
            #e0e0e0 0%,
            #f6f7f8 20%,
            #e0e0e0 40%,
            #e0e0e0 100%);
    background-repeat: no-repeat;
    background-size: 1000px 100%;
    display: inline-block;
    position: relative;
    animation: shimmer 1.2s infinite linear;
    margin: 0.5rem 0;
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }

    100% {
        background-position: 1000px 0;
    }
}